*{
    margin: 0;
    padding: 0;
}
/* p{
    background-color: red;
} */
.havolalar h2{
    text-transform: capitalize;
    font-size: 40px;
}
.havolalar p{
    text-transform: unset; }
.havolalar a{
    transition: all .5s;
    color: blueviolet;
    text-decoration: none; }
.havolalar a:hover{
    font-size: 25px;
    color: darkgreen;
}

/* rasmlar bilan ishlash */

img{
    width: 400px;
    height: 400px;
    object-fit: cover; }
div {
    width: 400px;
    background-image: url('https://cdn.hipwallpaper.com/i/8/22/Bnkvui.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}